atomicwrites==1.3.0
attrs==19.1.0
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
cymem==2.0.2
decorator==4.4.0
idna==2.8
importlib-metadata==0.18
jsonschema==3.0.1
more-itertools==7.0.0
murmurhash==1.0.2
networkx==2.3
numpy==1.17.0
packaging==19.0
plac==0.9.6
pluggy==0.12.0
preshed==2.0.1
py==1.8.0
pydot==1.4.1
pyparsing==2.4.0
pyrsistent==0.15.2
pytest==4.6.3
requests==2.22.0
role-pattern-nlp==0.0.5
six==1.12.0
spacy==2.1.6
spacy-pattern-builder==0.0.6
srsly==0.0.7
thinc==7.0.8
tqdm==4.32.2
urllib3==1.25.3
visualise-spacy-pattern==0.0.3
visualise-spacy-tree==0.0.6
wasabi==0.2.2
wcwidth==0.1.7
zipp==0.5.1
